 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#navbar{
    width: 100%;
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 3vh;
    font-weight: 500;
    
}
a:hover{
    color: purple;
}

#navbar h1{
    font-weight: 800;
    font-size: 3.8vh;
}
#main{
    background-color: #000;
}
#yellowdiv1{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    z-index: 7;
    position: absolute;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #F5E418;
    display: flex;
    flex-direction: column;
    z-index: 6;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#bottom{
    width: 100%;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#bottom img{
    width: 60px;
    margin-left: 55px;
}
#page1 h4{
    font-size: 6.5vw;
    line-height: 5.2vw;
    letter-spacing: -4px;
    z-index: 7;
    font-weight: 100;
    color: white;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

#elem{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
}
#elem h2{
    text-transform: uppercase;
    font-size: 6vw;
    z-index: 12;
    line-height: 4.5vw;
    font-weight: 100;
}


#elem .moving{
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all .3s ease-out;
    transform: translate(0,-85%) scaleY(0);
    background-color: #F5E418;
    display: inline-block;
    position: absolute;
    top: 50px;
}
#elem .cover{
    
    height: 100%;
    width: 40%;
    background-color: #F5E418;
    transform: translateX(75%);
    color: red;
    /* box-shadow: ; */
    z-index: 3;
    position: absolute;
}
#elem .moving .moving-in{
    white-space: nowrap;
    display: inline-block;
    animation: moving;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#elem .moving .moving-in h5{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 30px;
    opacity: 0;
    transition: all .3s ease-in;
    transition-delay: .2s;
    color: #000;
    text-transform: uppercase;
    font-size: 2vh;
    padding: 5px 0px;
}
@keyframes moving {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);

    }
}

#elem:hover .moving{    
    transform: translate(0,-85%) scaleY(1);
}
#elem:hover .moving h5{    
    opacity: 1;
}
#elem:hover h2{
    font-style: italic;
}


#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.img-cont{
    padding: 10px
}
.img-div{
    margin: 30px 20px;
    position: relative;
    width: 43vh;
    overflow: hidden;
    border-radius: 6px;
    background-color: black;
}
.img-div img{
    width: 100%;
    transition: all .3s ease-in;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.img-cover{
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    position: absolute;
    align-items: center;
    transition: all .3s ease-in;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    opacity: 0;
    font-size: 3vh;
}

.img-div:hover img{
    scale: 1.1;
    opacity: 0;
}
.img-div:hover .img-cover{
    opacity: 1;
}


#footer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
.div-btn{
    height: 100%;
    width: 100%;
    display: flex;gap: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}
.div-btn img{
    width: 43px;
    transform: rotate(180deg);
}
.div-btn h3{
    /* transform: translateX(250%); */
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    
}